html, body {
  margin: 0;
  padding: 0;
}

.verify-age-ajaxing {
  display: none;
}

.verify-age-background,
.verify-age-dialog {
  position: absolute;
}

.verify-age-background {
  z-index: 10000;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
