<div class="verify-age background"></div>
<div class="verify-age popup">
  <h1>Are you over 21?</h1>
  <p><a class="verify-age no" href="{{ deny.href }}">No</a></p>
  <p><a class="verify-age yes" href="{{ verify.href }}">Yes</a></p>
</div>