<div class="verify-age verified">
  <p><a class="verify-age-exit" href="{{ deny.href }}" rel="nofollow">I'm not yet {{ min_age }}, get me out of here.</a></p>
  <div class="verify-age-ajaxing">One moment...</div>
</div>
