<div class="verify-age unverified verify-age-background">
  <div class="verify-age-dialog">
    <div class="verify-age-inner">
      <h1>Are you over {{ min_age }}?</h1>
      <p>
        <a class="verify-age-exit" href="{{ deny.href }}" rel="nofollow">No - Leave</a>
        <a class="verify-age-enter" href="{{ verify.href }}" rel="nofollow">Yes - Enter</a>
      </p>
      <div class="verify-age-ajaxing">One moment...</div>
    </div>
  </div>
</div>
