/* line 1, verify_age.scss */
.verify-age-ajaxing {
  display: none; }

/* line 5, verify_age.scss */
.verify-age-background,
.verify-age-dialog {
  position: absolute; }

/* line 8, verify_age.scss */
.verify-age-background {
  z-index: 10000;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
