.verify-age-dialog {
  top: 40%;
  left: 50%;
  margin: 0;
}

.verify-age-inner {
  text-align: center;
}

.verify-age-inner p {
  margin-top: 1.1em;
  margin-bottom: 1.1em;
}

.verify-age-enter,
.verify-age-exit {
  display: inline;
  margin-right: 20px;
}

.verify-age.verified {
  text-align: center;
}
